<div class="menuContext col-2">
  <div class="list-group">
    <a href="/home" class="list-group-item list-group-item-action active">Dashboard</a>
    <a href="/reservation" class="list-group-item list-group-item-action">Reservation</a>

    <li>
      <ul class="collapsible collapsible-accordion">
        <li class>
          <a href="/reservation" class="collapsible-header waves-effect arrow-r">Reservation</a>
          <div class="collapsible-header">
            <ul>
              <li><a href="/home" class="list-group-item list-group-item-action">Dashboard</a></li>
              <li><a href="/home" class="list-group-item list-group-item-action">Dashboard</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </div>
</div>
