<div class="menuContext col-2">
  <div class="list-group">

    <ul class="list-group">
      <!--<li class="list-group-item"><a routerLink="/home" routerLinkActive="active-link" class="list-group-item list-group-item-action ">Dashboard</a></li>
  -->    <li class="list-group-item"><a routerLink="/reservation" routerLinkActive="active-link" class="list-group-item list-group-item-action">Reservations</a></li>
      <li class="list-group-item"><a routerLink="/restaurant" routerLinkActive="active-link" class="list-group-item list-group-item-action">Restaurant</a></li>
        <ul>
          <li class="list-group-item"><a routerLink="/addMenuItem" routerLinkActive="active-link" class="list-group-item list-group-item-action">Add menu item</a></li>
        </ul>
      <li class="list-group-item"><a routerLink="/roomCleaning" routerLinkActive="active-link" class="list-group-item list-group-item-action">Room cleaning</a></li>
      <li class="list-group-item"><a routerLink="/rooms" routerLinkActive="active-link" class="list-group-item list-group-item-action">Rooms</a></li>
      <li class="list-group-item"><a routerLink="/employees" routerLinkActive="active-link" class="list-group-item list-group-item-action">Employees</a></li>
        <ul>
          <li class="list-group-item"><a routerLink="/addEmployee" routerLinkActive="active-link" class="list-group-item list-group-item-action">Add data</a></li>
        </ul>
    </ul>

  </div>
</div>
