<script src="../../app.component.ts"></script>
<navbar></navbar>
<menu-context></menu-context>
<div class="reservationPage col-10">
    <div class="masonry" >
        <div class="cardDashboard col-6">
            <div class="titleCard ">
                <h5 class="card-header">Reservations</h5>
            </div>
            <div class="bodyCard "style="margin-left:1em;">

                <div class="individualPeople">
                    <h6>Individuals</h6>
                    <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='500' [bordered]='true' class="tableContent">
                        <thead>
                        <tr>
                            <th class="titleTable" *ngFor="let head of headElementsCheckIn; let i = index" scope="col">{{head}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let el of Reservations">
                            <td>{{el.first_name}}</td>
                            <td>{{el.last_name}}</td>
                            <td>{{el.check_in}}</td>
                            <td>{{el.check_out}}</td>
                            <td>{{el.breakfast}}</td>
                            <td>{{el.parking}}</td>
                            <td>{{el.car_registration}}</td>
                            <td>{{el.room_number}}</td>
                            <td>{{el.number_of_people}}</td>
                            <td>{{el.booking_price}}</td>
                            <td>
                                <button class="btn btn-sm btn-danger" (click)="delete(el._id,el)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="cardDashboard col-6">
            <div class="titleCard ">
                <h5 class="card-header">New client</h5>
            </div>
            <div class="formReservation">
                <form >
                    <div class="row">
                        <div class="form-group col-md-5" >
                            <label for="inputFirstName">First Name</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="First name" required="true" [(ngModel)]="clientFirstName" name="firstName">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="inputLastName">Last Name</label>
                            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" required="true" [(ngModel)]="clientLastName" name="lastName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputPesel2">PESEL/Passport Number</label>
                            <input type="text" class="form-control" id="inputPesel2" placeholder="PESEL/Passport Number" required="true" [(ngModel)]="clientPesel" name="clientAddress">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="inputEmail">Email</label>
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email" required="true" [(ngModel)]="clientEmail" name="clientEmail">
                            <small id="emailHelpBlock" class="form-text text-muted">
                                For example: jan@hotel.com
                            </small>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="inputPhoneNo">Phone number</label>
                            <input type="text" class="form-control" id="inputPhoneNo" placeholder="Phone number" required="true" [(ngModel)]="clientPhoneNo" name="clientPhoneNo">
                            <small id="phoneNumberHelpBlock" class="form-text text-muted">
                                Phone number with country code (without +)
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Address" required="true" [(ngModel)]="clientAddress" name="clientAddress">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary" (click)="addClient()" >Add new client</button>
                </form>
            </div>
        </div>

        <div class="cardDashboard col-6">
            <div class="titleCard ">
                <h5 class="card-header">New reservation</h5>
            </div>
            <div class="formReservation">
                <form >
                    <div class="row" >
                        <div class="row">
                            <div class="form-group col-md-5" >
                                <label for="inputFirstName2">First Name</label>
                                <input type="text" class="form-control" id="inputFirstName2" placeholder="First name" required="true" [(ngModel)]="personFirstName" name="firstName">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="inputLastName2">Last Name</label>
                                <input type="text" class="form-control" id="inputLastName2" placeholder="Last Name" required="true" [(ngModel)]="personLastName" name="lastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="inputCheckIn">Check-in</label>
                            <input type="text" class="form-control" id="inputCheckIn" placeholder="Year-month-day" required="true" [(ngModel)]="checkInDate" name="checkIn">
                            <small id="checkInHelpBlock" class="form-text text-muted">
                                Template input: 2022-01-01
                            </small>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="inputCheckOut">Check-out</label>
                            <input type="text" class="form-control" id="inputCheckOut" placeholder="Year-month-day" required="true" [(ngModel)]="checkOutDate" name="checkOut">
                            <small id="checkOutHelpBlock" class="form-text text-muted">
                                Template input: 2022-01-01
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <input class="form-check-input" type="checkbox" value="false" id="checkParking" [(ngModel)]="checkParkingInput" name="checkPk">
                            <label class="form-check-label" for="checkParking">
                                Parking
                            </label>
                        </div>
                        <div class="form-group col-md-4">
                            <input class="form-check-input" type="checkbox" value="false" id="checkBreakfast" [(ngModel)]="checkBreakfastInput" name="checkBf">
                            <label class="form-check-label" for="checkBreakfast">
                                 Breakfast
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="inputCarRegistration">Car registration</label>
                            <input type="text" class="form-control" id="inputCarRegistration" placeholder="Car registration" required="true" [(ngModel)]="carRegist" name="carRs">
                            <small id="carRegistrationHelpBlock" class="form-text text-muted">
                                Template input: WA98451
                            </small>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputNumberRoom">Number Room</label>
                            <select id="inputNumberRoom" class="form-control" required="true" [(ngModel)]="roomNumberSelect" name="numberOfRoom" >
                                <option selected>Choose...</option>
                                <option *ngFor="let rn of Rooms">{{rn.room_number}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputNumberPeople">Number of People</label>
                            <input type="number" class="form-control" id="inputNumberPeople" placeholder="Number of People" required="true" [(ngModel)]="numberOfPeople" name="numberOfPeople" min="0">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputBookingPrice">Booking price</label>
                            <input type="number" class="form-control" id="inputBookingPrice" placeholder="Price" required="true" [(ngModel)]="priceBookingInput" name="priceBooking">
                            <small id="bookingHelpBlock" class="form-text text-muted">
                                Template input: 120.00
                            </small>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary" (click)="add()" >Add new reservation</button>
                </form>
            </div>
        </div>
    </div>
</div>