<div class="orderPage col-10">
    <div class="orderPanel">
        <div class="row">
            <div class="menu col-2">
                <input type="button" class="btn-primary btn-lg" (click)="showMenuAppetizer()" value="Appetizer">
                <input type="button" class="btn-primary btn-lg soup" (click)="showMenuSoup()" id="soup" value="Soup">
                <input type="button" class="btn-primary btn-lg mainDishes" (click)="showMenuMainDishes()" id="mainDishes" value="Main dishes">
                <input type="button" class="btn-primary btn-lg dessert" (click)="showMenuDessert()" id="dessert" value="Dessert">
                <input type="button" class="btn-primary btn-lg other" (click)="showMenuOther()" id="other" value="Other">
                <input type="button" class="btn-primary btn-lg drinks" (click)="showMenuDrinks()" id="drinks" value="Drinks">
                <input type="button" class="btn-primary btn-lg alcohol" (click)="showMenuAlcohol()" id="alcohol" value="Alcohol">
            </div>

            <div class="dishes col-7">
                <div class="allMenu" [hidden]="(isAr || isSp || isMD || isDt || isOr || isDs || isAl) == true ">
                    <div class="row">
                        <div *ngFor="let el of ItemMenu">
                            <div class="col">
                                <p class="titleFood">{{el.product_name}}</p>
                                <p class="priceFood">{{el.product_price}}</p>
                                <div class="quantityDiv">
                                    <input type="button" class="minusButton btn-dark" value="-" (click)="changeValue(el,-1)" [disabled]="el.min_quantity <= 0"/>
                                    <label type="text" class="quantityLabel">{{el.min_quantity}}</label>
                                    <input type="button" class="plusButton btn-dark" value="+" (click)="changeValue(el,1)" [disabled]="el.min_quantity >= el.max_quantity"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moreAppetizer" [hidden]="isAr == false">
                    <div class="row">
                        <div *ngFor="let el of ItemMenu">
                            <div class="col" *ngIf="el.type_of_product === 'Appetizer'" >
                                <p class="titleFood" *ngIf="el.type_of_product === 'Appetizer'">{{el.product_name}}</p>
                                <p class="priceFood" *ngIf="el.type_of_product === 'Appetizer'">{{el.product_price}}</p>
                                <div class="quantityDiv" *ngIf="el.type_of_product === 'Appetizer'">
                                    <input type="button" class="minusButton btn-dark" value="-" (click)="changeValue(el,-1)" [disabled]="el.min_quantity <= 0"/>
                                    <label type="text" class="quantityLabel">{{el.min_quantity}}</label>
                                    <input type="button" class="plusButton btn-dark" value="+" (click)="changeValue(el,1)" [disabled]="el.min_quantity >= el.max_quantity"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moreSoup" [hidden]="isSp == false">
                    <div class="row">
                        <div *ngFor="let el of ItemMenu">
                            <div class="col" *ngIf="el.type_of_product === 'Soup'" >
                                <p class="titleFood" *ngIf="el.type_of_product === 'Soup'">{{el.product_name}}</p>
                                <p class="priceFood" *ngIf="el.type_of_product === 'Soup'">{{el.product_price}}</p>
                                <div class="quantityDiv" *ngIf="el.type_of_product === 'Soup'">
                                    <input type="button" class="minusButton btn-dark" value="-" (click)="changeValue(el,-1)" [disabled]="el.min_quantity <= 0"/>
                                    <label type="text" class="quantityLabel">{{el.min_quantity}}</label>
                                    <input type="button" class="plusButton btn-dark" value="+" (click)="changeValue(el,1)" [disabled]="el.min_quantity >= el.max_quantity"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moreMainDishes" [hidden]="isMD == false">
                    <div class="row">
                        <div *ngFor="let el of ItemMenu">
                            <div class="col" *ngIf="el.type_of_product === 'Main Dishes'" >
                                <p class="titleFood" *ngIf="el.type_of_product === 'Main Dishes'">{{el.product_name}}</p>
                                <p class="priceFood" *ngIf="el.type_of_product === 'Main Dishes'">{{el.product_price}}</p>
                                <div class="quantityDiv" *ngIf="el.type_of_product === 'Main Dishes'">
                                    <input type="button" class="minusButton btn-dark" value="-" (click)="changeValue(el,-1)" [disabled]="el.min_quantity <= 0"/>
                                    <label type="text" class="quantityLabel">{{el.min_quantity}}</label>
                                    <input type="button" class="plusButton btn-dark" value="+" (click)="changeValue(el,1)" [disabled]="el.min_quantity >= el.max_quantity"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moreDessert" [hidden]="isDt == false">
                    <div class="row">
                        <div *ngFor="let el of ItemMenu">
                            <div class="col" *ngIf="el.type_of_product === 'Dessert'">
                                <p class="titleFood" *ngIf="el.type_of_product === 'Dessert'">{{el.product_name}}</p>
                                <p class="priceFood" *ngIf="el.type_of_product === 'Dessert'">{{el.product_price}}</p>
                                <div class="quantityDiv" *ngIf="el.type_of_product === 'Dessert'">
                                    <input type="button" class="minusButton btn-dark" value="-" (click)="changeValue(el,-1)" [disabled]="el.min_quantity <= 0"/>
                                    <label type="text" class="quantityLabel">{{el.min_quantity}}</label>
                                    <input type="button" class="plusButton btn-dark" value="+" (click)="changeValue(el,1)" [disabled]="el.min_quantity >= el.max_quantity"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moreOther" [hidden]="isOr == false">
                    <div class="row">
                        <div *ngFor="let el of ItemMenu">
                            <div class="col" *ngIf="el.type_of_product === 'Other'">
                                <p class="titleFood" *ngIf="el.type_of_product === 'Other'">{{el.product_name}}</p>
                                <p class="priceFood" *ngIf="el.type_of_product === 'Other'">{{el.product_price}}</p>
                                <div class="quantityDiv" *ngIf="el.type_of_product === 'Other'">
                                    <input type="button" class="minusButton btn-dark" value="-" (click)="changeValue(el,-1)" [disabled]="el.min_quantity <= 0"/>
                                    <label type="text" class="quantityLabel">{{el.min_quantity}}</label>
                                    <input type="button" class="plusButton btn-dark" value="+" (click)="changeValue(el,1)" [disabled]="el.min_quantity >= el.max_quantity"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moreDrinks" [hidden]="isDs == false">
                    <div class="row">
                        <div *ngFor="let el of ItemMenu">
                            <div class="col" *ngIf="el.type_of_product === 'Drink'" >
                                <p class="titleFood" *ngIf="el.type_of_product === 'Drink'">{{el.product_name}}</p>
                                <p class="priceFood" *ngIf="el.type_of_product === 'Drink'">{{el.product_price}}</p>
                                <div class="quantityDiv" *ngIf="el.type_of_product === 'Drink'">
                                    <input type="button" class="minusButton btn-dark" value="-" (click)="changeValue(el,-1)" [disabled]="el.min_quantity <= 0"/>
                                    <label type="text" class="quantityLabel">{{el.min_quantity}}</label>
                                    <input type="button" class="plusButton btn-dark" value="+" (click)="changeValue(el,1)" [disabled]="el.min_quantity >= el.max_quantity"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moreAlcohol" [hidden]="isAl == false">
                    <div class="row">
                        <div *ngFor="let el of ItemMenu">
                            <div class="col" *ngIf="el.type_of_product === 'Alcohol'">
                                <p class="titleFood" *ngIf="el.type_of_product === 'Alcohol'">{{el.product_name}}</p>
                                <p class="priceFood" *ngIf="el.type_of_product === 'Alcohol'">{{el.product_price}}</p>
                                <div class="quantityDiv" *ngIf="el.type_of_product === 'Alcohol'">
                                    <input type="button" class="minusButton btn-dark" value="-" (click)="changeValue(el,-1)" [disabled]="el.min_quantity <= 0"/>
                                    <label type="text" class="quantityLabel">{{el.min_quantity}}</label>
                                    <input type="button" class="plusButton btn-dark" value="+" (click)="changeValue(el,1)" [disabled]="el.min_quantity >= el.max_quantity"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="payment col-3">
                <div class="billOrder" >
                    <div class="row">
                        <div class="col-7 nameBill">Name</div>
                        <div class="col-2 quantityBill">Qty.</div>
                        <div class="col-3 valueBill">Value</div>
                    </div>
                    <div *ngFor="let el of ItemMenu">
                        <div class="row" *ngIf="el.min_quantity > 0">
                            <div class="col-7 titleFood">{{el.product_name}}</div>
                            <div class="col-2 quantityFood">x {{el.min_quantity}}</div>
                            <div class="col-3 valueOrder">{{el.product_price * el.min_quantity}}</div>
                        </div>
                    </div>

                </div>
                <div class="amountOrder">
                    <div class="discount">
                        <label type="text" class="discountLabel">Enter the discount value:</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">%</div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Discount value" [(ngModel)]="discountValue">
                            <button class="btn btn-primary btn-sm" (click)="refreshTotalPrice()"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="totalOrderPrice">
                        <span class="totalLabel">Total:</span>
                        <span class="totalPrice">{{this.totalPrice}}</span>
                    </div>
                    <div class="paymentMethod">
                        <label type="text" class="paymentLabel">Choose payment method:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="cashMethod" (click)="showCashInput()">
                            <label class="form-check-label" for="cashMethod">
                                Cash
                            </label>
                        </div>
                        <div class="cashMethodDiv" [hidden]="isCashMethod == false" >
                            <input type="number" class="cashMethodLabel" placeholder="Value of the cash"
                                   [(ngModel)]="cashMethod" [disabled]="cashMethod >= this.totalPrice"> <br>
                            <small id="cashMethodHelpText">
                                Template: 12.00
                            </small>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="cardMethod" (click)="showCardInput()" >
                            <label class="form-check-label" for="cardMethod">
                                Card/Credit card
                            </label>
                        </div>
                        <div class="cardMethodDiv" [hidden]="isCardMethod == false" >
                            <input type="number" class="cardMethodLabel" placeholder="Value of the card"
                                   [(ngModel)]="cardMethod" [disabled]="cardMethod >= this.totalPrice"> <br>
                            <small id="cardMethodHelpText">
                                Template: 12.00
                            </small>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="voucherMethod"  (click)="showVoucherInput()">
                            <label class="form-check-label" for="voucherMethod">
                                Voucher
                            </label>
                        </div>
                        <div class="voucherMethodDiv" [hidden]="isVoucherMethod == false" >
                            <input type="number" class="voucherMethodLabel" placeholder="Value of the voucher"
                                   [(ngModel)]="voucherMethod" [disabled]="voucherMethod >= this.totalPrice"> <br>
                            <small id="voucherMethodHelpText">
                                Template: 12.00
                            </small>
                        </div>
                    </div>
                    <button class="btn btn-primary submitButton" (click)="addBill()">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>

