.orderPage{
  background-color: #c8c6c5;
  height: 100vw;
  position: absolute;
  right: 0;

  .orderPanel{
    height: 90vh;
    margin: 1em;
  }

  .menu{
    border-style: solid;
    height: 90vh;

    button{
      width: 100%;
      border-radius: 0.5em;
      margin-top: 0.5em;
    }
  }

  .dishes{
    border-style: solid;
    height: 90vh;
  }

  .payment{
    border-style: solid;
    height: 90vh;
  }
}