.orderPage{
  background-color: white;
  height: 100vw;
  position: absolute;
  top:3.2em;
  right: 0;

  .orderPanel{
    height: 90vh;
    margin: 0.5em 1em 0 1em;
    background-color:white;
  }

  .menu{
    height: 90vh;

    input{
      width: 100%;
      border-radius: 0.5em;
      margin-top: 0.5em;
    }
  }

  .dishes{
    height: 90vh;

    .row{
      max-height: 90vh;
      width: 103%;
      overflow-y: auto;
    }

    .col{
      min-height: 10em;
      min-width: 20em;
      margin-top: 1em;
      border: 0.2em dotted black;
    }

    .titleFood{
      font-weight: bold;
      text-align: center;
      margin-top:2em;
    }

    .quantityDiv{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -0.5em;

      .plusButton, .minusButton{
        border-color: black;
        width: 2em;
        font-weight: bold;
        box-shadow: none;
      }

      .minusButton{
        border-radius: 20% 0 0 20%;
      }

      .plusButton{
        border-radius: 0 20% 20% 0;
      }

      .quantityLabel{
        border-style:solid;
        border-left: none;
        border-right: none;
        width: 2em;
        text-align: center;
        background-color: white;
      }
    }

    .priceFood{
      font-weight: bold;
      text-align: center;
      margin-top:-1em;
    }

  }

  .payment{
    height: 90vh;

    .billOrder{
      height: 80%;

      .nameBill, .quantityBill {
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        font-weight: bold;
      }

      .valueBill{
        border-bottom: 3px solid black;
        font-weight: bold;
      }

      .titleFood, .quantityFood{
        border-bottom: 2px dotted black;
        border-right: 3px solid black;
      }

      .valueOrder{
        border-bottom: 2px dotted black;
      }
    }

    .amountOrder{
      height: 50%;

      .totalLabel{
        font-weight: bold;
        font-size: 1.5em;
      }

      .totalPrice{
        font-size: 1.5em;
        position: absolute;
        right: 1em;
      }

      .discount{
        .discountLabel{
          font-weight: bold;
        }
      }

      .paymentLabel{
        font-weight: bold;
        margin-top:1em;
      }

      .paymentMethod{
        .cashMethodDiv, .cardMethodDiv, .voucherMethodDiv{
          margin-left:1.5em;
        }

        small{
          margin-top:2em;
        }
      }

      .submitButton{
        margin-left:1em;
        width:90%
      }
    }
  }


}