.homePage{
  background-color: #c8c6c5;
  height: 100vw;
 // width: 80%;
  position: absolute;
  right: 0;

  .welcomeEmployee{
    margin: 1em;
  }

  .information{
    margin:1em;
  }

  .masonry {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
   }

  .masonry div {
   // height: 150px;
    //line-height: 150px;
    background: white ;
     color: black;
     margin: 0 1rem 1rem 0;
    //text-align: center;
    //font-weight: 900;
    //font-size: 2rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    }

  .cardDashboard{
    width: auto;
    height: auto;
  }

  .titleCard{
    width: 100%;
  }

  .titleTable{
    font-weight: bold;
  }

  .tableContent{
    border-color: black;
  }


}
