<div class="homePage col-10">
  <div class="welcomeEmployee">
    <h2>Welcome back, admin</h2>
  </div>

  <div class="information">
    <div class="masonry" >

      <div class="cardDashboard col-6">
        <div class="titleCard">
          <h5 class="card-header">Reservations</h5>
        </div>
        <div class="bodyCard" style="margin-left:1em;">
          <div style="display: block">
            <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>

      <div class="cardDashboard col-6">
        <div class="titleCard ">
          <h5 class="card-header">Check-in</h5>
        </div>
        <div class="bodyCard "style="margin-left:1em;">

          <div class="individualPeople">
            <h6>Individuals</h6>
            <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='200' [bordered]='true' class="tableContent">
              <thead>
              <tr>
                <th class="titleTable" *ngFor="let head of headElementsCheckIn; let i = index" scope="col">{{head}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let el of elementsCheckIn; let i = index">
                <th scope="row">{{el.firstName}}</th>
                <td>{{el.lastName}}</td>
                <td>{{el.roomNumber}}</td>
                <td>{{el.numberOfPeople}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="groupPeople">
            <h6 class="nameGroup">Groups</h6>
            <table mdbTable maxHeight='200' [bordered]='true' class="tableContent">
              <thead>
              <tr>
                <th class="titleTable" *ngFor="let headGroup of headElementsCheckInGroup" scope="col">{{headGroup}} </th>
              </tr>
              </thead>
              <tbody>
              <tr mdbTableCol *ngFor="let elGroup of elementsCheckInGroup">
                <th scope="row">{{elGroup.name}}</th>
                <td>{{elGroup.numberOfRoom}}</td>
                <td>{{elGroup.numberOfPeople}}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <div class="cardDashboard col-6">
        <div class="titleCard ">
          <h5 class="card-header">Check-out</h5>
        </div>
        <div class="bodyCard "style="margin-left:1em;">

          <div class="individualPeople">
            <h6>Individuals</h6>
            <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='200' [bordered]='true' class="tableContent">
              <thead>
              <tr>
                <th class="titleTable" *ngFor="let head of headElementsCheckOut; let i = index" scope="col">{{head}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let el of elementsCheckOut; let i = index">
                <th scope="row">{{el.firstName}}</th>
                <td>{{el.lastName}}</td>
                <td>{{el.roomNumber}}</td>
                <td>{{el.numberOfPeople}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="groupPeople">
            <h6 class="nameGroup">Groups</h6>
            <table mdbTable maxHeight='200' [bordered]='true' class="tableContent">
              <thead>
              <tr>
                <th class="titleTable" *ngFor="let headGroup of headElementsCheckOutGroup" scope="col">{{headGroup}} </th>
              </tr>
              </thead>
              <tbody>
              <tr mdbTableCol *ngFor="let elGroup of elementsCheckOutGroup">
                <th scope="row">{{elGroup.name}}</th>
                <td>{{elGroup.numberOfRoom}}</td>
                <td>{{elGroup.numberOfPeople}}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>

