<div class="homePage col-10">
  <div class="welcomeEmployee">
    <h2>Welcome back, admin</h2>
  </div>

  <div class="information">
    <div class="masonry" >

      <div class="cardDashboard col-6">
        <div class="titleCard">
          <h5 class="card-header">Reservations</h5>
        </div>
        <div class="bodyCard" style="margin-left:1em;">
          <div style="display: block">
            <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>

      <div class="cardDashboard col-6">
        <div class="titleCard ">
          <h5 class="card-header">Check-in</h5>
        </div>
        <div class="bodyCard "style="margin-left:1em;">
          <p class="text">Check-in.Check-in.Check-in.Check-in.Check-in.Check-in.Check-in.</p>
        </div>
      </div>

      <div class="cardDashboard col-6">
        <div class="titleCard ">
          <h5 class="card-header">Check-out</h5>
        </div>
        <div class="bodyCard "style="margin-left:1em;">
          <p class="text">Check-in.Check-in.Check-in.Check-in.Check-in.Check-in.Check-in.</p>
        </div>
      </div>

      <div class="cardDashboard col-6">
        <div class="titleCard">
          <h5 class="card-header">Guests</h5>
        </div>
        <div class="bodyCard" style="margin-left:1em;">
          <p class="text">Reservation.Reservation.Reservation.Reservation.Reservation</p>
        </div>
      </div>

      <div class="cardDashboard col-6">
        <div class="titleCard ">
          <h5 class="card-header">Rooms</h5>
        </div>
        <div class="bodyCard "style="margin-left:1em;">
          <p class="text">Check-in.Check-in.Check-in.Check-in.Check-in.Check-in.Check-in.</p>
        </div>
      </div>

    </div>
  </div>

</div>

