<navbar></navbar>
<menu-context></menu-context>
<div class="clientPage col-10">
    <div class="masonry" >
        <div class="cardDashboard col-6">
            <div class="titleCard ">
                <h5 class="card-header">Clients</h5>
            </div>
            <div class="bodyCard "style="margin-left:1em;">

                <div class="individualPeople">
                    <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='900' [bordered]='true' class="tableContent">
                        <thead>
                        <tr>
                            <th class="titleTable" *ngFor="let head of headElementsClient; let i = index" scope="col">{{head}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let el of Clients; let i = index">
                            <td>{{el.first_name}}</td>
                            <td>{{el.last_name}}</td>
                            <td>{{el.email_address}}</td>
                            <td>{{el.phone_number}}</td>
                            <td>{{el.address}}</td>
                            <td>
                                <button class="btn btn-sm btn-danger" (click)="delete(el._id)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
</div>