.clientPage{
  background-color: #c8c6c5;
  height: 100vw;
  position: absolute;
  top:3.2em;
  right: 0;

  .masonry {
    margin: 1em;
  }

  .masonry div {
    background: white ;
    color: black;
    margin: 0 1rem 1rem 0;
  }

  .cardDashboard{
    width: auto;
    height: auto;
  }

  .titleCard{
    width: 100%;
  }

  .titleTable{
    font-weight: bold;
  }

  .tableContent{
    border-color: black;
  }

  .btn-warning{
    margin-left:1em;
  }
}