.roomCleaningPage{
  background-color: #c8c6c5;
  height: 100vw;
  position: absolute;
  top:3.2em;
  right: 0;

  .checkRoom{
    margin:1em;


    th,td{
      border: solid 0.2em black;
    }

    .cardDashboard{
      width: auto;
      height: auto;

    }
  }

  .masonry {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .masonry div {
    background: white ;
    color: black;
    margin: 1em 1rem 1rem 1em;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  .scheduler{
    margin-left:1em;
    margin-right:1em;
    margin-top:-1em;
  }

  .titleCard{
    width: 98%;
  }

  .titleTable{
    font-weight: bold;
  }

  .tableContent{
    border-color: black;
  }



}