.roomCleaningPage{
  background-color: #c8c6c5;
  height: 100vw;
  position: absolute;
  right: 0;

  .checkRoom{
    margin:1em;

    th,td{
      border: solid 0.2em black;
    }

    .titleTable{
      font-weight: bold;
    }
  }

}