<navbar></navbar>
<menu-context></menu-context>
<div class="roomCleaningPage col-10">

    <div class="masonry">

        <div class="cardDashboard" >
            <div class="titleCard">
                <h5 class="card-header">Check cleaning room</h5>
            </div>
            <div class="bodyCard "style="margin-left:1em;">

            <div class="checkRoom">
                <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='500' [bordered]='true' class="tableContent">
                    <thead>
                    <tr>
                        <th class="titleTable" *ngFor="let head of headElementsCheckIn; let i = index" scope="col">{{head}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let el of Rooms; let i = index">
                        <td>{{el.room_number}}</td>
                        <td>{{el.check_out}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            </div>
        </div>
    </div>

</div>


