<navbar></navbar>
<menu-context></menu-context>
<div class="addMenuPage col-10">
    <div class="viewMenu">
        <div class="masonry">
            <!-- Appetizer -->
            <div class="cardDashboard col-5" >
                <div class="titleCard">
                    <h5 class="card-header">Appetizer</h5>
                </div>
                <div class="bodyCard "style="margin-left:1em; width:45em;">

                    <div class="AppetizerMenu">
                        <div>
                         <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='220' [bordered]='true' class="tableContent">
                             <thead>
                                 <tr>
                                     <th class="titleTable" *ngFor="let head of headElementsGramItem" >{{head}}</th>
                                 </tr>
                             </thead>
                             <tbody >
                             <tr *ngFor="let el of ItemMenu">
                                 <td *ngIf="el.type_of_product === 'Appetizer'">{{el.product_name}}</td>
                                 <td *ngIf="el.type_of_product === 'Appetizer'">{{el.ingredients}}</td>
                                 <td *ngIf="el.type_of_product === 'Appetizer'">{{el.product_price}}</td>
                                 <td *ngIf="el.type_of_product === 'Appetizer'">{{el.product_weight}}</td>
                                 <td *ngIf="el.type_of_product === 'Appetizer'">{{el.quantity}}</td>
                                 <td *ngIf="el.type_of_product === 'Appetizer'">
                                     <button type="submit" class="btn btn-sm btn-secondary" (click)="delete(el._id,el)">Remove</button>
                                 </td>
                             </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

                <!-- Soup -->
            <div class="cardDashboard col-6">
                <div class="titleCard">
                    <h5 class="card-header">Soup</h5>
                </div>
                <div class="bodyCard "style="margin-left:1em;">

                    <div class="SoupMenu" >
                        <div>
                        <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='220' [bordered]='true' class="tableContent">
                               <thead>
                                   <tr>
                                       <th class="titleTable" *ngFor="let head of headElementsMlItem" >{{head}}</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr *ngFor="let el of ItemMenu">
                                       <td *ngIf="el.type_of_product === 'Soup'">{{el.product_name}}</td>
                                       <td *ngIf="el.type_of_product === 'Soup'">{{el.ingredients}}</td>
                                       <td *ngIf="el.type_of_product === 'Soup'">{{el.product_price}}</td>
                                       <td *ngIf="el.type_of_product === 'Soup'">{{el.product_weight}}</td>
                                       <td *ngIf="el.type_of_product === 'Soup'">{{el.quantity}}</td>
                                       <td *ngIf="el.type_of_product === 'Soup'">
                                           <button type="submit" class="btn btn-sm btn-secondary" (click)="delete(el._id,el)">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

                    <!-- Main Dishes -->
            <div class="cardDashboard col-6">
                <div class="titleCard ">
                    <h5 class="card-header">Main Dishes</h5>
                </div>
                <div class="bodyCard "style="margin-left:1em;">

                    <div class="DishesMenu">
                        <div>
                           <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='220' [bordered]='true' class="tableContent">
                               <thead>
                                   <tr>
                                       <th class="titleTable" *ngFor="let head of headElementsGramItem" >{{head}}</th>
                                   </tr>
                               </thead>
                               <tbody>
                               <tr *ngFor="let el of ItemMenu">
                                   <td *ngIf="el.type_of_product === 'Main Dishes'">{{el.product_name}}</td>
                                   <td *ngIf="el.type_of_product === 'Main Dishes'">{{el.ingredients}}</td>
                                   <td *ngIf="el.type_of_product === 'Main Dishes'">{{el.product_price}}</td>
                                   <td *ngIf="el.type_of_product === 'Main Dishes'">{{el.product_weight}}</td>
                                   <td *ngIf="el.type_of_product === 'Main Dishes'">{{el.quantity}}</td>
                                   <td *ngIf="el.type_of_product === 'Main Dishes'">
                                       <button type="submit" class="btn btn-sm btn-secondary" (click)="delete(el._id,el)">Remove</button>
                                   </td>
                               </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

                    <!-- Desserts -->
            <div class="cardDashboard col-6">
                <div class="titleCard ">
                    <h5 class="card-header">Dessert</h5>
                </div>
                <div class="bodyCard "style="margin-left:1em;">

                    <div class="DessertMenu">
                        <div>
                            <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='220' [bordered]='true' class="tableContent">
                                <thead>
                                    <tr>
                                        <th class="titleTable" *ngFor="let head of headElementsGramItem">{{head}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let el of ItemMenu">
                                    <td *ngIf="el.type_of_product === 'Dessert'">{{el.product_name}}</td>
                                    <td *ngIf="el.type_of_product === 'Dessert'">{{el.ingredients}}</td>
                                    <td *ngIf="el.type_of_product === 'Dessert'">{{el.product_price}}</td>
                                    <td *ngIf="el.type_of_product === 'Dessert'">{{el.product_weight}}</td>
                                    <td *ngIf="el.type_of_product === 'Dessert'">{{el.quantity}}</td>
                                    <td *ngIf="el.type_of_product === 'Dessert'">
                                        <button type="submit" class="btn btn-sm btn-secondary" (click)="delete(el._id,el)">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

                    <!-- Other -->
            <div class="cardDashboard col-6">
                <div class="titleCard ">
                    <h5 class="card-header">Other</h5>
                </div>
                <div class="bodyCard "style="margin-left:1em;">

                    <div class="OtherMenu">
                        <div>
                            <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='220' [bordered]='true' class="tableContent">
                                <thead>
                                    <tr>
                                        <th class="titleTable" *ngFor="let head of headElementsGramItem">{{head}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let el of ItemMenu">
                                        <td *ngIf="el.type_of_product === 'Other'">{{el.product_name}}</td>
                                        <td *ngIf="el.type_of_product === 'Other'">{{el.ingredients}}</td>
                                        <td *ngIf="el.type_of_product === 'Other'">{{el.product_price}}</td>
                                        <td *ngIf="el.type_of_product === 'Other'">{{el.product_weight}}</td>
                                        <td *ngIf="el.type_of_product === 'Other'">{{el.quantity}}</td>
                                        <td *ngIf="el.type_of_product === 'Other'">
                                            <button type="submit" class="btn btn-sm btn-secondary" (click)="delete(el._id,el)">Remove</button>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

                    <!-- Drinks -->
            <div class="cardDashboard col-6">
                <div class="titleCard ">
                    <h5 class="card-header">Drinks</h5>
                </div>
                <div class="bodyCard "style="margin-left:1em;">

                    <div class="DrinksMenu">
                        <div>
                          <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='220' [bordered]='true' class="tableContent">
                              <thead>
                                  <tr>
                                      <th class="titleTable" *ngFor="let head of headElementsMlItem">{{head}}</th>
                                  </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let el of ItemMenu">
                                  <td *ngIf="el.type_of_product === 'Drink'">{{el.product_name}}</td>
                                  <td *ngIf="el.type_of_product === 'Drink'">{{el.ingredients}}</td>
                                  <td *ngIf="el.type_of_product === 'Drink'">{{el.product_price}}</td>
                                  <td *ngIf="el.type_of_product === 'Drink'">{{el.product_weight}}</td>
                                  <td *ngIf="el.type_of_product === 'Drink'">{{el.quantity}}</td>
                                  <td *ngIf="el.type_of_product === 'Drink'">
                                      <button type="submit" class="btn btn-sm btn-secondary" (click)="delete(el._id,el)">Remove</button>
                                  </td>
                              </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

                    <!-- Alcohol -->
            <div class="cardDashboard col-6">
                <div class="titleCard ">
                    <h5 class="card-header">Alcohol</h5>
                </div>
                <div class="bodyCard "style="margin-left:1em;">

                    <div class="AlcoholMenu">
                        <div>
                           <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='220' [bordered]='true' class="tableContent">
                                <thead>
                                    <tr>
                                        <th class="titleTable" *ngFor="let head of headElementsClItem">{{head}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let el of ItemMenu">
                                    <td *ngIf="el.type_of_product === 'Alcohol'">{{el.product_name}}</td>
                                    <td *ngIf="el.type_of_product === 'Alcohol'">{{el.ingredients}}</td>
                                    <td *ngIf="el.type_of_product === 'Alcohol'">{{el.product_price}}</td>
                                    <td *ngIf="el.type_of_product === 'Alcohol'">{{el.product_weight}}</td>
                                    <td *ngIf="el.type_of_product === 'Alcohol'">{{el.max_quantity}}</td>
                                    <td *ngIf="el.type_of_product === 'Alcohol'">
                                        <button type="submit" class="btn btn-sm btn-secondary" (click)="delete(el._id,el)">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="addNewItem">
        <div class="cardDashboard">
            <div class="titleCard ">
                <h5 class="card-header">New item menu</h5>
            </div>
            <div class="formItemMenu">
                <form>
                    <div class="row">
                        <div class="form-group col-md-6" >
                            <label for="inputProductName">Product name</label>
                            <input type="text" class="form-control" id="inputProductName" placeholder="Product name" required="true" [(ngModel)]="itemProductName" name="productName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputIngredients">Ingredients</label>
                            <input type="text" class="form-control" id="inputIngredients" placeholder="Ingredients" required="true" [(ngModel)]="itemIngredients" name="ingredients">
                            <small id="ingredientsHelpBlock" class="form-text text-muted">
                                Separate words with commas
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="inputPrice">Price</label>
                            <input type="number" class="form-control" id="inputPrice" placeholder="Price" required="true" [(ngModel)]="itemPrice" name="price">
                            <small id="priceHelpBlock" class="form-text text-muted">
                                Template input: 8.00
                            </small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputWeight">Weight</label>
                            <input type="text" class="form-control" id="inputWeight" placeholder="Weight" required="true" [(ngModel)]="itemWeight" name="weight">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputType">Type of product</label>
                            <select id="inputType" class="form-control" required="true" [(ngModel)]="itemType" name="type">
                                <option selected>Choose...</option>
                                <option>Appetizer</option>
                                <option>Soup</option>
                                <option>Main Dishes</option>
                                <option>Dessert</option>
                                <option>Other</option>
                                <option>Drink</option>
                                <option>Alcohol</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputQuantity">Quantity product</label>
                            <input type="number" class="form-control" id="inputQuantity" placeholder="Quantity product" required="true" [(ngModel)]="itemQuantity" name="quantity" min="0" max="50">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary" (click)="add()">Add new item to menu</button>
                </form>
            </div>
        </div>
    </div>
</div>

