<navbar></navbar>
<menu-context></menu-context>
<div class="mobileDataPage col-10">
    <div class="masonry" >
        <div class="cardDashboard">
            <div class="titleCard ">
                <h5 class="card-header">Add data about hotel</h5>
            </div>
            <div class="formReservation">
                <form class="was-validated">
                    <div class="row" >
                        <div class="form-group col-md-5" >
                            <label for="inputDescription">Description</label>
                            <textarea type="text" class="form-control" id="inputDescription" placeholder="Description" required
                                      [(ngModel)]="description" rows="4" name="dataDescription"></textarea>
                            <small class="invalid-feedback">Please fill out this field.</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5" >
                            <label for="facilities">Facilities</label>
                            <div class="d-flex">
                                <input type="text" class="form-control" id="facilities" placeholder="Facilities" required [(ngModel)]="facilities" name="dataFacilities">
                                <button class="btn btn-md btn-success deptButton" (click)="addMoreConvenience()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                            <small class="existsFacilities" *ngIf="isFacilities === false">This convenience is exists</small>
                            <small class="invalid-feedback">Please fill out this field.</small><br>
                        </div>
                        <div class="form-group col-md-1">
                            <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='500'  [bordered]='true' class="tableContent" >
                                <thead>
                                    <tr>
                                        <th class="titleTable" *ngFor="let head of headElementsHotelData;" scope="col">{{head}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let el of Facilities; let i = index">
                                        <td>{{el.$name_convenience}}</td>
                                        <td>
                                            <button class="btn btn-sm btn-danger" (click)="deleteConvenience(i)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-3" >
                            <label for="departament">Choose departament</label>
                            <div class="d-flex">
                                <select id="departament" class="form-control" required="true" [(ngModel)]="departaments" name="departaments" (change)="chooseDept()">
                                    <option *ngFor="let el of Departaments" [value]="el.$dept_name" >{{el.$dept_name}}</option>
                                </select>

                                <button class="btn btn-md btn-success deptButton" (click)="addMoreInfo()" *ngIf="disabledAdd === true"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button class="btn btn-md btn-success deptButton" (click)="addMoreInfo()" *ngIf="disabledAdd === false" disabled><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button class="btn btn-md btn-danger deptButton" (click)="deleteMoreInfo()" *ngIf="disabledDelete === true"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                <button class="btn btn-md btn-danger deptButton" (click)="deleteMoreInfo()" *ngIf="disabledDelete === false" disabled><i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-md btn-danger deptButton" (click)="deleteDepartament()" *ngIf="disabledAdd === true"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                <button class="btn btn-md btn-danger deptButton" (click)="deleteDepartament()" *ngIf="disabledAdd === false" disabled><i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="deptData row">
                                <div class="form-group col-md-3 d" *ngFor="let el of MoreInfoDept; let i = index; ">
                                    <label for="personName">Person name</label>
                                    <input type="text" class="form-control" id="personName" placeholder="Person name" required [(ngModel)]="el.$person_name" name="personName+{{i}}">
                                    <label for="personPhone">Phone number</label>
                                    <input type="text" class="form-control" id="personPhone" placeholder="Phone number" required [(ngModel)]="el.$phone_number" name="personPhone+{{i}}" >
                                    <label for="personEmail">Email address</label>
                                    <input type="text" class="form-control" id="personEmail" placeholder="Email address" required [(ngModel)]="el.$email_address" name="personEmail+{{i}}">
                                    <button class="btn btn-md btn-primary" style="width:100%; margin-top: 0.5em" (click)="deleteNewMoreInfo(i)" >Delete</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2" >
                            <label for="departament2">Add departament</label>
                            <div class="d-flex">
                                <input type="text" class="form-control" id="departament2" placeholder="Departament" required [(ngModel)]="departaments2" name="departaments2">
                                <button class="btn btn-md btn-success deptButton" (click)="addDepartament()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-md-5 ">
                                <div class="newMoreData" *ngIf="isNewData === true">
                                    <label for="personName2">Person name</label>
                                    <input type="text" class="form-control" id="personName2" placeholder="Person name" required [(ngModel)]="newPersonName" name="newPersonName" >
                                    <label for="personPhone2">Phone number</label>
                                    <input type="text" class="form-control" id="personPhone2" placeholder="Phone number" required [(ngModel)]="newPersonPhone" name="newPersonPhone" >
                                    <label for="personEmail2">Email address</label>
                                    <input type="text" class="form-control" id="personEmail2" placeholder="Email address" required [(ngModel)]="newPersonEmail" name="newPersonEmail" >
                                    <button class="btn btn-md btn-primary" style="width:93%; margin-top:0.5em;" (click)="addNewMoreInfo()" *ngIf="isNewData === true">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="nameCompany">Name of the building (name company)</label>
                            <input type="text" class="form-control" id="nameCompany" placeholder="Name of the object" required [(ngModel)]="nameCompany" name="nameCompany" >
                        </div>
                        <div class="form-group col-md-5">
                            <label for="streetCompany">Street and number</label>
                            <input type="text" class="form-control" id="streetCompany" placeholder="Street and number" required [(ngModel)]="streetCompany" name="streetCompany" >
                        </div>
                    </div>

                    <div class="row" style="margin-top:-2em">
                        <div class="form-group col-md-4">
                            <label for="cityCompany">City</label>
                            <input type="text" class="form-control" id="cityCompany" placeholder="City" required [(ngModel)]="cityCompany" name="cityCompany" >
                        </div>
                        <div class="form-group col-md-3">
                            <label for="postcodeCompany">Postcode</label>
                            <input type="text" class="form-control" id="postcodeCompany" placeholder="Postcode" required [(ngModel)]="postcodeCompany" name="postcodeCompany" >
                        </div>
                        <div class="form-group col-md-4">
                            <label for="countryCompany">Country</label>
                            <input type="text" class="form-control" id="countryCompany" placeholder="Country" required [(ngModel)]="countryCompany" name="countryCompany" >
                        </div>
                    </div>

                    <div class="row" style="margin-top:-2em">
                        <div class="form-group col-md-3">
                            <label for="faxCompany">Fax</label>
                            <input type="number" class="form-control" id="faxCompany" placeholder="Fax" required [(ngModel)]="faxCompany" name="faxCompany" >
                        </div>
                        <div class="form-group col-md-3">
                            <label for="phoneNumberCompany">Phone number</label>
                            <input type="number" class="form-control" id="phoneNumberCompany" placeholder="Phone number" required [(ngModel)]="phoneNumberCompany" name="phoneNumberCompany" >
                        </div>
                        <div class="form-group col-md-4">
                            <label for="emailCompany">Email address</label>
                            <input type="text" class="form-control" id="emailCompany" placeholder="Email address" required [(ngModel)]="emailCompany" name="emailCompany" >
                        </div>
                    </div>

                    <div class="row" style="margin-top:-2em">
                        <div class="form-group col-md-4">
                            <label for="nipCompany">NIP</label>
                            <input type="text" class="form-control" id="nipCompany" placeholder="NIP" required [(ngModel)]="nipCompany" name="nipCompany" >
                        </div>
                        <div class="form-group col-md-4">
                            <label for="regonCompany">REGON</label>
                            <input type="number" class="form-control" id="regonCompany" placeholder="REGON" [(ngModel)]="regonCompany" name="regonCompany" >
                        </div>
                    </div>

                    <button class="btn btn-primary btn-md submitButton" (click)="updateData()">Add information about your building</button>
                </form>
            </div>
        </div>
    </div>
</div>
