.mobileDataPage {
  background-color: #c8c6c5;
  height: 100vw;
  position: absolute;
  top: 3.2em;
  right: 0;

  .masonry {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 1em;
  }

  .masonry div {
    background: white ;
    color: black;
    margin: 0 1rem 1rem 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  .cardDashboard{
    width: auto;
    height: auto;
  }

  .moreConvenience{
    margin-top: 1em;
    width: 15em;
  }

  .existsFacilities{
    color: red;
    font-weight: bold;
  }

  .deptButton{
    margin-left: 0.5em;
  }


  .submitButton{
    margin-left:0.5em;
    width: 97%;
  }

}