<div class="restaurantPage col-10">
    <div class="restaurantRoom row">
        <div class="restaurantSection col-4">
            <div class="tableLeft">#1
                <a href="/order" class="fill-div"></a>
            </div>
            <div class="tableRight">#2
                <a href="#" class="fill-div"></a>
            </div>
            <div class="tableLeft">#3
                <a href="#" class="fill-div"></a>
            </div>
            <div class="tableRight">#4
                <a href="#" class="fill-div"></a>
            </div>
        </div>
        <div class="restaurantSection col-4">
            <div class="tableRight">#5
                <a href="#" class="fill-div"></a>
            </div>
            <div class="tableLeft">#6
                <a href="#" class="fill-div"></a>
            </div>
            <div class="tableRight">#7
                <a href="#" class="fill-div"></a>
            </div>
            <div class="tableLeft">#8
                <a href="#" class="fill-div"></a>
            </div>
        </div>
        <div class="restaurantSection col-4">
            <div class="tableRight">#9
                <a href="#" class="fill-div"></a>
            </div>
            <div class="tableRight">#10
                <a href="#" class="fill-div"></a>
            </div>
            <div class="tableLeft">#11
                <a href="#" class="fill-div"></a>
            </div>
            <div class="tableLeft">#12
                <a href="#" class="fill-div"></a>
            </div>
        </div>
    </div>


</div>