<navbar></navbar>
<menu-context></menu-context>
<div class="restaurantPage col-10">
    <div class="restaurantRoom row">
        <div class="restaurantSection col-4">
            <div class="tableLeft" id="table1" >#1
                <a routerLink="/order" class="fill-div"></a>
            </div>
            <div class="tableRight" id="table2" >#2
                <a routerLink="/order" class="fill-div" ></a>
            </div>
            <div class="tableLeft" id="table3">#3
                <a href="/order" class="fill-div"></a>
            </div>
            <div class="tableRight" id="table4">#4
                <a href="/order" class="fill-div"></a>
            </div>
        </div>
        <div class="restaurantSection col-4">
            <div class="tableRight" id="table5">#5
                <a href="/order" class="fill-div"></a>
            </div>
            <div class="tableLeft" id="table6">#6
                <a href="/order" class="fill-div"></a>
            </div>
            <div class="tableRight" id="table7">#7
                <a href="/order" class="fill-div"></a>
            </div>
            <div class="tableLeft" id="table8">#8
                <a href="/order" class="fill-div"></a>
            </div>
        </div>
        <div class="restaurantSection col-4">
            <div class="tableRight" id="table9">#9
                <a href="/order" class="fill-div"></a>
            </div>
            <div class="tableRight" id="table10">#10
                <a href="/order" class="fill-div"></a>
            </div>
            <div class="tableLeft" id="table11">#11
                <a href="/order" class="fill-div"></a>
            </div>
            <div class="tableLeft" id="table12">#12
                <a href="/order" class="fill-div"></a>
            </div>
        </div>
    </div>


</div>