.restaurantPage{
  background-color: #c8c6c5;
  height: 100vw;
  position: absolute;
  right: 0;

  .restaurantRoom{
    margin:1em;
    //border-style:solid;
    //border-width: thin;
    height: 90vh;

    .restaurantSection{
      border-style: dashed;
      border-width:thin;
      border-top: none;
      border-bottom: none;
      background-color: white;
      height:100%;

      .tableLeft, .tableRight{
        border-radius: 50%;
        text-underline: none;
        border-style: solid;
        border-color: black;
        width: 200px;
        height: 200px;
        text-align: center;
        margin-top: 1em;
      }

      .tableRight{
        margin-left:50%;
      }

      a.fill-div {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
      }
    }


  }

}