.addEmployeePage{
  background-color: #c8c6c5;
  height: 100vw;
  position: absolute;
  top:3.2em;
  right: 0;


  form{
    margin:1em;

    label{
      font-weight: bold;
    }

    .personalData, .addressData, .paymentData, .otherData, .loginData{
      margin-top:1em;
      border-style:solid;
      padding:1em;
    }

    .loginData, .paymentData{
      margin:1em auto;
    }

    .titleData{
      font-weight: bold;
    }

    button{
      margin:1em auto;
    }

    .invalid-feedback{
      color: red;
    }

    .notValid{
      color:red;
      font-weight: bold;
    }
  }

  .addNewEmployee{
    margin: 1em;
    background-color: white;
    //height:60vh ;

    .formEmployee {
      margin: 1em ;
      width: auto;

      label {
        font-weight: bold;
      }

      button {
        margin: 1em 0 1em 0;
        width: 100%;
      }

    }
  }

  .addAnnualLeave{
    margin: 1em;
    background-color: white;

    .formAnnualLeave {
      margin: 1em ;
      width: auto;

      label {
        font-weight: bold;
      }

      button {
        margin: 1em 0 1em 0;
        width: 100%;
      }

    }
  }
}