.modifyEmployeePage{
  background-color: #c8c6c5;
  height: 100vw;
  // width: 80%;
  position: absolute;
  right: 0;


  span{
    margin: 1em auto;
    color:black;
    transform: scale(2);
  }
  card{
    margin: 1em;
  }

  .table-remove{
    border:none;
    color:red;
    font-weight: bold;
  }

  @media all and (min-width: 768px) {
    tr  {
      td {
        vertical-align: middle !important;
      }
      span {
        &:not([class]) {
          padding: 1rem 1rem;
        }
      }
    }
  }
}