.roomsPage{
  background-color: #c8c6c5;
  height: 100vw;
  position: absolute;
  top:3.2em;
  right: 0;

  .masonry {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .masonry div {
    background: white ;
    color: black;
    margin: 0 1rem 1rem 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }


  .titleCard{
    width: 100%;
  }

  .titleTable{
    font-weight: bold;
  }

  .tableContent{
    border-color: black;
  }

  .addNewRoom{
    margin: 1em;
    background-color: white;

    .formRoom {
      margin: 1em ;
      width: auto;

      label {
        font-weight: bold;
      }

      button {
        margin: 1em 0 1em 0;
        width: 100%;
      }

    }
  }
}