<navbar></navbar>
<menu-context></menu-context>
<div class="roomsPage col-10">
        <div class="viewRoom">
            <div class="masonry">

                <div class="cardDashboard col-5" >
                    <div class="titleCard">
                        <h5 class="card-header">Rooms</h5>
                    </div>
                    <div class="bodyCard "style="margin-left:1em;">

                        <div class="RoomMenu">
                            <div >
                                <table mdbTable mdbTableScroll [scrollY]='true' maxHeight='500' [bordered]='true' class="tableContent" >
                                    <thead>
                                    <tr>
                                        <th class="titleTable" *ngFor="let head of headElementsRoomItem" >{{head}}</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr *ngFor="let el of Rooms" [hidden]="isEditable == true">
                                        <td contenteditable="false">{{el.floor_number}}</td>
                                        <td contenteditable="false">{{el.room_number}}</td>
                                        <td contenteditable="false">{{el.room_name}}</td>
                                        <td contenteditable="false">{{el.number_of_people}}</td>
                                        <td contenteditable="false">{{el.type_of_beds}}</td>
                                        <td contenteditable="false">{{el.smoking}}</td>
                                        <td contenteditable="false">{{el.price}}</td>
                                        <td>
                                            <button class="btn btn-sm btn-danger" (click)="delete(el._id)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>